<div class="main-container big-footer">
          <div class="width-container">
            <footer class="clearfix">                        
              
              {% if site.footer_content.size > 0 %}
              <div class="footer-text">{{ site.footer_content }}</div>
              <hr/>
              {% endif %}
              
              <div class="row-fluid">
                
                <div class="span7 footer-left">
                  {% if request.logged_in? %}
                  Hi <a href="{{ request.current_signup.settings_url }}">{{ request.current_signup.name_or_email }}</a>.
                  View your {% if site.show_public_profiles %}<a href="{{ request.current_signup.profile_url }}">public profile</a>, {% endif %}<a
                  href="{{ request.current_signup.settings_url }}">account settings</a>{% if site.show_public_profiles %},{% endif %} or <a
                  href="{{ request.current_signup.logout_url }}">sign out</a>.
                  {% else %}
                  Sign in with <a href="{{ request.facebook_connect_url }}">Facebook</a>, <a
                  href="{{ request.twitter_connect_url }}">Twitter</a> or <a href="/login">email</a>.
                  {% endif %}
                </div>
                <div class="span5 footer-right">
                  <!-- The NationBuilder link below is required. If it is removed, we may add it back ourselves.
You can style it or move it in different ways, but please leave it in the footer. -->
                  Created with <a href="http://nationbuilder.com/?recruiter_id=219736">NationBuilder</a>
                </div>
                
              </div>
            </footer>
          </div>
          <!-- .width-container -->
        </div><!-- .big-footer -->