<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
  <head>
    {% include "header_content" %}
    {{ content_for_header }}
  </head>
  <body class="aware-theme v2-theme {{ page.page_class_name }} js">
    <div id="pattern" class="pattern">
      <div class="wrap" id="wrap">
        <div id="body" class="page-{{ request.template | replace: '_', '-' }} home-page">
          
          <div class="header-container clearfix {% if site.has_background_image? %}no-background{% endif %}">
            <div class="header-background">
            <div class="width-container clearfix">
              
              {% include "nav" %}
              
              <header>
                <h1 class="title"><a href="/">{{ site.long_name }}</a></h1>
              </header>

              <section id="top">
                <h2>Full Service 
                  <br/>
                  <strong>NationBuilder</strong>
                </h2>
                <p><a class="button button-white-border" href="#services">Available For Hire</a>
              </section>
              
            </div>
            <!-- .width-container -->
            </div><!-- .header-background -->
          </div>
          <!-- .header-container -->
          
          <div class="main-container" id="services">
            <div class="main width-container clearfix">

              <div class="row-fluid padbottommore">
                <div class="span12 tagline">
                  <h2>I’ll <strong>organize</strong> your nation.
                    <br/>
                    You organize your <strong>community</strong>.
                  </h2>
                </div>
              </div> 

              <div class="row-fluid padbottommore services-overview">
                <div class="span4">
                  <div class="service">
                    <h4 class="ss-icon">list</h4>
                    <h3>Strategy &amp; Planning</h3>
                    <p>I firmly believe that what gets measured gets managed, which is why the first thing we’ll do is work together to identify clear, measurable goals &mdash; and how NationBuilder can help you achieve them.</p>
                  </div>
                </div>

                <div class="span4">
                  <div class="service">
                    <h4 class="ss-icon">save</h4>
                    <h3>Data Migration</h3>
                    <p>Clean, high-quality data is the foundation of any successful organizing effort. I’ll work with you to safely and accurately migrate your existing data into NationBuilder, and get new or enhanced data as necessary.</p>
                  </div>
                </div>

                <div class="span4">
                  <div class="service">
                    <h4 class="ss-icon">code</h4>
                    <h3>Theme Development</h3>
                    <p>Your website is the face of your organization and the primary way that your supporters will interact with your nation. As an expert in NationBuilder themes, I’ll create a gorgeous site that ‘just works’ without any coding skills.</p>
                  </div>
                </div>

                <div class="row-fluid">
                  <div class="span3">
                    &nbsp;
                  </div>
                  <div class="span3">
                    <a class="button supporter-nav-button" href="#contact">Get Started</a>
                  </div>
                  <div class="span3">
                    <a class="button supporter-nav-button button-blue-border" href="/services">Learn More</a>
                  </div> 
                  <div class="span3">
                    &nbsp;
                  </div>
                </div>
              </div>

            </div>

            <div class="main-container home-about" id="about">
              <div class="width-container bio-container">
                <h2>I am a certified NationBuilder Expert.</h2>
                <p>For the past year, I worked as an in-house product expert at NationBuilder &mdash; serving as a conduit between the organizing &amp; engineering teams and helping thousands of customers get the most out of their nations.</p>
                <p>As a result, I have an unparalleled level of product knowledge and experience that makes me uniquely qualified to help you leverage your nation to achieve your goals.</p>
                <p><a href="/colophon">Learn more about me &rarr;</a></p>
              </div>
            </div>

          </div>

        <div class="main-container get-started" id="contact">
          <div class="width-container">

              <div class="row-fluid padbottommore">
                <div class="span12 tagline ">
                  <h2>Ready to get started?</h2>
                </div>
              </div>
              {% comment %}<div class="row-fluid">
                <div class="span4">
                  &nbsp;
                </div>
                <div class="span4">
                  <a class="button supporter-nav-button" href="/contact">Contact me</a>
                </div> 
                <div class="span4">
                  &nbsp;
                </div>
              </div>{% endcomment %}

              {% subpage "home_contact" with "home_contact_form" %}
          </div>
        </div>

            <!-- .main -->
          </div>
          <!-- .main-container -->
          
          {{ content_for_footer }}

          {% include "footer" %}
          
        </div>
        <!-- #body -->
      </div>
      <!-- #wrap -->
    </div>
    <!-- #pattern -->
{% include "footer_content" %}