<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
  <head>
    <!-- 

    Hello. My name is Ian. This is my website. 

    I assume you're looking here because you want to know how some or part of this site works. That's great. Tearing someone's site apart and putting it back together is the best way to learn.

    This website runs on NationBuilder (http://nationbuilder.com/?recruiter_id=219736). If you'd like to see the raw theme files, I've shared them here under an MIT license: https://github.com/ianpatrickhines/ianpatrickhines-5218337c8ed5f07127000002

    Please, however, take note: all the content on this site is copyrighted to me with all rights reserved.    

    Thanks.

    -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page_title }}</title>
    <link rel="author" type="text/plain" href="humans.txt">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="theme.scss" type="text/css">    
    <link rel="stylesheet" href="tablet-and-desktop.scss" type="text/css" media="screen and (min-width: 768px)">
    <link rel="stylesheet" href="style.scss" type="text/css">
    <link rel="stylesheet" href="ss-standard.css" type="text/css">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet" type="text/css">
    <link rel="alternate" type="application/rss+xml" href="http://www.ianpatrickhines.com/blog.rss" title="Subscribe to the blog">
    
    <!-- because ie8 ignores media queries, we need this -->
    <!--[if IE 8]>
<link rel="stylesheet" href="tablet-and-desktop.scss" type="text/css">
<![endif]-->
    
    
    <!--[if IE]>
<link rel="stylesheet" href="ie.scss" type="text/css">
<![endif]-->
    
    {{ content_for_header }}
    
    <script type="text/javascript">
      NB.appConfig.userIsLoggedIn = {{request.logged_in?}};
    </script>
    
    <script type="text/javascript">
      (function() {
        var po = document.createElement("script"); po.type = "text/javascript"; po.async = true;
        po.src = "https://apis.google.com/js/plusone.js?publisherid=108466010816642032003";
        var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(po, s);
      })();
    </script>
    
  </head>
  <body class="aware-theme v2-theme {{ page.page_class_name }} js">
    <div id="pattern" class="pattern">
      <div class="wrap" id="wrap">
        <div id="body" class="page-{{ request.template | replace: '_', '-' }} home-page">
          
          <div class="header-container clearfix {% if site.has_background_image? %}no-background{% endif %}">
            <div class="header-background">
            <div class="width-container clearfix">
              
              {% include "nav" %}
              
              <header>
                <h1 class="title"><a href="/">{{ site.long_name }}</a></h1>
              </header>

              <section id="top">
                <h2>Full Service 
                  <br/>
                  <strong>NationBuilder</strong>
                </h2>
              </section>
              
            </div>
            <!-- .width-container -->
            </div><!-- .header-background -->
          </div>
          <!-- .header-container -->
          
          <div class="main-container" id="services">
            <div class="main width-container clearfix">

              <div class="row-fluid padbottommore">
                <div class="span12 tagline">
                  <h2>I’ll <strong>organize</strong> your nation.
                    <br/>
                    You organize your <strong>community</strong>.
                  </h2>
                </div>
              </div> 

              <div class="row-fluid padbottommore services-overview">
                <div class="span4">
                  <div class="service">
                    <h4 class="ss-icon">list</h4>
                    <h3>Strategy &amp; Planning</h3>
                    <p>I firmly believe that what gets measured gets managed, which is why the first thing we’ll do is work together to identify clear, measurable goals &mdash; and how NationBuilder can help you achieve them.</p>
                  </div>
                </div>

                <div class="span4">
                  <div class="service">
                    <h4 class="ss-icon">connection</h4>
                    <h3>Data Migration</h3>
                    <p>Clean, high-quality data is the foundation of any successful organizing effort. I’ll work with you to safely and accuratley migrate your existing data into NationBuilder, and get new or enhanced data as necessary.</p>
                  </div>
                </div>

                <div class="span4">
                  <div class="service">
                    <h4 class="ss-icon">layout</h4>
                    <h3>Theme Development</h3>
                    <p>Your website is the face of your organization and the primary way that your supporters will interact with your nation. As an expert in NationBuilder themes, I’ll create a gorgeous site that ‘just works’ without any coding skills.</p>
                  </div>
                </div>
              </div>

            </div>

            <div class="main-container home-about" id="about">
              <div class="width-container bio-container">
                <h2>I am a certified NationBuilder Expert.</h2>
                <p>For the past year, I worked as an in-house product expert at NationBuilder &mdash; serving as a conduit between the organizing &amp; engineering teams and helping thousands of customers get the most out of their nations.</p>
                <p>As a result, I have an unparalleled level of product knowledge and experience that makes me uniquely qualified to help you leverage your nation to achieve your goals.</p>
                <p><a href="/colophon">Learn more about me &rarr;</a></p>
              </div>
            </div>

          </div>

          <div class="width-container get-started">

              <div class="row-fluid padbottommore">
                <div class="span12 tagline ">
                  <h2>Ready to get started?</h2>
                </div>
              </div>
              <div class="row-fluid">
                <div class="span4">
                  &nbsp;
                </div>
                <div class="span4">
                  <a class="button supporter-nav-button" href="/contact">Contact me</a>
                </div> 
                <div class="span4">
                  &nbsp;
                </div>
              </div>
          </div>

            <!-- .main -->
          </div>
          <!-- .main-container -->
          
          {% include "footer" %}
          
        </div>
        <!-- #body -->
      </div>
      <!-- #wrap -->
    </div>
    <!-- #pattern -->
    
    {{ content_for_footer }}


    {% comment %}<!--[if lt IE 9]>
<script type="text/javascript" src="/javascripts/jquery.backstretch.min.js"></script>
<script type="text/javascript">
jQuery.backstretch("{{ site.background_image_url }}", {speed: 0});
</script>
<![endif]-->{% endcomment %}
    <style>
      .header-background {
        background: url('desk2.jpg') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
      }
    </style>
    
    
    {% comment %}<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'ianpatrickhines'; // required: replace example with your forum shortname
    
    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function () {
      var s = document.createElement('script'); s.async = true;
      s.type = 'text/javascript';
      s.src = '//' + disqus_shortname + '.disqus.com/count.js';
      (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
    </script>{% endcomment %}
    
    {% comment %}Google Plus Javascript
    <script type="text/javascript">
      (function() {
        var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
        po.src = 'https://apis.google.com/js/plusone.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
      })();
    </script>{% endcomment %}

    <!-- Gaug.es -->
    <script type="text/javascript">
    var _gauges = _gauges || [];
    (function() {
    var t   = document.createElement('script');
    t.type  = 'text/javascript';
    t.async = true;
    t.id    = 'gauges-tracker';
    t.setAttribute('data-site-id', '528a3e59f5a1f52c0f000066');
    t.src = '//secure.gaug.es/track.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(t, s);
  })();
</script>

<script src="ss-standard.js"></script>
  </body>
</html>
