<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
  <head>
    {% include "header_content" %}
    {{ content_for_header }}
  </head>
  <body class="aware-theme v2-theme {{ page.page_class_name }} js">
    <div id="pattern" class="pattern">
      <div class="wrap" id="wrap">
        <div id="body" class="page-{{ request.template | replace: '_', '-' }}">
          
          <div class="header-container clearfix {% if site.has_background_image? %}no-background{% endif %}">
            <div class="width-container clearfix">
              
              {% include "nav" %}
              
              <header>
                <h1 class="title"><a href="/">{{ site.long_name }}</a></h1>
              </header>
              
            </div>
            <!-- .width-container -->
          </div>
          <!-- .header-container -->
          
          {% if site.has_header_image? %}
          <div class="width-container">
            <img src="{{ site.header_image_url_1026 }}" class="header-image" border="0" />
          </div>
          {% endif %}
          
          {% if page.parent.slug == "photography" %}
          <div class="width-container">
            
            <div id="page-features" class="page-features" style="max-height: 100%">
              
              <img src="{{ page.attachments.first.url }}" alt="{{ page.headline }}" />
              
              
            </div>
          </div>
          
          {% endif %}
          
          {% if page.features_count > 0 %}
          <div class="width-container">
            
            
            {% include "features" %}
            
          </div>
          {% endif %}
          
          <div class="main-container" id="middle">
            <div class="main width-container clearfix">
              
              {% if request.is_sidebar? %}
              {% include "columns_2" %}
              {% else %}
              {% include "columns_1" %}
              {% endif %}
              
            </div>
            <!-- .main -->
          </div>
          <!-- .main-container -->

          {{ content_for_footer }}

          {% include "footer" %}
          
        </div>
        <!-- #body -->
      </div>
      <!-- #wrap -->
    </div>
    <!-- #pattern -->
{% include "footer_content" %}